@page "/search"


<div style="width:700px">
   <SfGrid DataSource="@Employees" AllowPaging="true">
       <GridPageSettings PageSize="5"></GridPageSettings>
       <GridColumns>
           <GridColumn Field="@nameof(Employee.EmployeeID)" HeaderText="ID"></GridColumn>
            <GridColumn Field="@nameof(Employee.EmployeeID)" HeaderText="ID"></GridColumn>
            <GridColumn Field="@nameof(Employee.EmployeeID)" HeaderText="ID"></GridColumn>
            <GridColumn Field="@nameof(Employee.EmployeeID)" HeaderText="ID"></GridColumn>
            <GridColumn Field="@nameof(Employee.EmployeeID)" HeaderText="ID"></GridColumn>
            <GridColumn Field="@nameof(Employee.EmployeeID)" HeaderText="ID"></GridColumn>

       </GridColumns>
   </SfGrid>
</div>

@code {

}
